@import "./variables.scss";
//@import "node_modules/ember-paper/addon/styles/scss/main";

/*!
 * Chinwag CSS 
 *
 * Copyright 2015 Michael Johnson
 */
@import "./index.scss";
@import "./conversation.scss";

// Align the logo and text to the middle so that they don't look oddly offset
.md-toolbar-tools > .logo {
	>img {
		height: 30px;
		vertical-align: middle;
	}

	>strong {
		vertical-align: middle;
	}
}

.text-primary {
	color: $text-color-primary;
}

.text-secondary {
	color: $text-color-secondary;
}

.text-hint {
	color: $text-color-hint;
}