.settings-list {
	>a {
		text-decoration: none;

		color: $text-color-primary;

		:active {
			background-color: $grey-light;
		}
	}

	.paper-item {
		.md-tile-left {
			md-icon {
				margin: 16px;
				width: 48px;
				text-align: center;
				vertical-align: middle;
				font-size: 1.7em;
				//line-height: 0.5em;
			}
		}
	}
}
