*, *:before, *:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-size: 14px;

	margin: 0;
	padding: 0;
	outline: none;
}

.ember-app{
	width: 100%;
	height: 100%;
}

.menu-sidenav-toggle {
	font-size: 24px !important;
	margin-right: 16px;
	padding: 0;
}

// Align the logo and text to the middle so that they don't look oddly offset
.md-toolbar-tools > .logo {
	font-size: 24px;

	>img {
		vertical-align: middle;
	}

	>strong {
		vertical-align: middle;
	}
}

.sidenav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sidenav ul li > a {
	@extend .text-primary;

	display: block;
	font-size: 14px;
	text-decoration: none;
	font-weight: 700;
	padding: 1.1em 1.6em;
}

.sidenav ul li a:hover {
	background-color: map-get($color-grey, "300");
}

.nav-button {
	display: block;
	width: 48px;
	height: 48px;
	position: fixed;
	left: auto;
	right: 0px;
	top: 0;
	border: 0;
	overflow: hidden;
	font-size: 24px;
	z-index: 2;
	line-height: 48px;
	text-align: center;
}
