@import "node_modules/ember-paper/app/styles/color-palette";

$grey: map-get($color-grey, "500");
$grey-light: map-get($color-grey, "100");
$grey-dark: map-get($color-grey, "700");

$primary-color-palette: $color-green;
$primary-color: map-get($primary-color-palette, "500");
$primary-color-light: map-get($primary-color-palette, "100");
$primary-color-dark: map-get($primary-color-palette, "700");

$accent-color-palette: $color-light-blue;
$accent-color: map-get($accent-color-palette, "A200");
$accent-color-light: map-get($accent-color-palette, "A100");
$accent-color-dark: map-get($accent-color-palette, "A400");

$text-color-no-transparency: #000000;
$text-color-primary: rgba($text-color-no-transparency, 0.87);
$text-color-secondary: rgba($text-color-no-transparency, 0.54);
$text-color-hint: rgba($text-color-no-transparency, 0.26);
