@import url(../fonts/fonts.css);
@import "material-typography.less";

/*************************************************************************
 *
 * CONFIDENTIAL
 * __________________
 *
 *  [2015] Michael Johnson
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains the property of
 * Michael Johnson. The intellectual and technical concepts contained herein
 * are proprietary to Michael Johnson and may be covered by U.S. and Foreign
 * Patents, patents in process, and are protected by trade secret or copyright
 * law. Dissemination of this information or reproduction of this material is
 * strictly forbidden unless prior written permission is obtained from Michael
 * Johnson.
 */

@dark-text: #000000;
@dark-text-primary: fade(@dark-text, 87%);
@dark-text-secondary: fade(@dark-text, 54%);
@dark-text-hints: fade(@dark-text, 26%);

@light-text: #FFFFFF;
@light-text-primary: fade(@light-text, 100%);
@light-text-secondary: fade(@light-text, 70%);
@light-text-hints: fade(@light-text, 30%);

@primary: #3F51B5;
@primary-light: #C5CAE9;
@primary-dark: #303F9F;

@accent: #FF4081;
@accent-light: #FF80AB;
@accent-dark: #F50057;

body {
	-webkit-user-select: none;

	max-width: 100%;

	cursor: default;

	margin: 0;
	padding: 0;
}
