@import "common.less";

.sign-in-prompt {
	width: 100%;
	height: 100%;

	text-align: center;

	div {
		.vertical-center;
	}
}

ul {
	margin-top: 16px;

	list-style: none;
	padding-left: 0;
}

li {
	list-style: none;
	cursor: pointer;


}

.body {
	display: flex;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	position: relative;
	padding: 0;
}

.divider {
	display: block;

	margin: 0;
	margin-left: 80px;

	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.avatar-container {
	min-width: 56px;
	margin-right: -16px;
}

.avatar {
	width: 48px;
	height: 48px;
	border-radius: 30px;

	border: 1px solid rgba(0, 0, 0, 0.12);

	margin: 16px;
}

.content {
	flex: 1;
	padding: 16px;
	text-overflow: ellipsis;
}

.name {
	.mui-font-style-subhead-1;
}
