{{#paper-sidenav}}
	{{#paper-drawer}}
		<h1 class="logo"><img src="/favicon-96x96.png" height="30"/>  <strong>Paper</strong></h1>
		<nav class="sidenav-nav">
			<ul>
				<li>{{#link-to "settings"}}Settings{{/link-to}}</li>
			</ul>
		</nav>
	{{/paper-drawer}}
	{{#paper-content  classNames="sidenav-static-content"}}
		{{outlet}}
	{{/paper-content}}
{{/paper-sidenav}}