{{#paper-nav-container classNames="ember-app"}}
	{{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
		{{#paper-toolbar}}
			<div class="md-toolbar-tools">
				<div class="logo">
					<img src="/favicon-96x96.png" width="30" height="30"/>&nbsp;&nbsp;<strong>Chinwag</strong>
				</div>
			</div>
		{{/paper-toolbar}}

		{{#paper-content}}
			<nav class="sidenav">
				<ul>
					<li>{{#link-to "settings"}}Settings{{/link-to}}</li>
				</ul>
			</nav>
		{{/paper-content}}
	{{/paper-sidenav}}

	{{#paper-content flex-layout="column" flex=true}}
		{{outlet}}
	{{/paper-content}}
{{/paper-nav-container}}