{{#paper-sidenav}}
	{{#paper-drawer}}
		<h1 class="logo"><img src="https://placehold.it/30x30" height="30"/>  <strong>Chinwag</strong></h1>
		<nav class="sidenav-nav">
			<ul>
				<li>{{link-to "Settings" "settings"}}</li>
			</ul>
		</nav>
	{{/paper-drawer}}
	{{#paper-content  classNames="sidenav-static-content"}}
		{{outlet}}
	{{/paper-content}}
{{/paper-sidenav}}