{{#paper-list}}
	{{#each messages}}
		{{#paper-item}}
			{{#paper-tile-left}}
				<img {{bind-attr alt=from}} class="face">
			{{/paper-tile-left}}

			{{#paper-tile-content}}
				<p>{{message}}</p>
			{{/paper-tile-content}}
		{{/paper-item}}
	{{else}}
		{{#paper-item}}
			{{#paper-tile-content}}
				<h3>No messages!</h3>
			{{/paper-tile-content}}
		{{/paper-item}}
	{{/each}}
	{{paper-text label="Send message" value=message}}
{{/paper-list}}