{{#paper-toolbar}}
	<div class="md-toolbar-tools">
		{{#link-to "index" class="toolbar-back"}}{{paper-icon icon="arrow-back"}}{{/link-to}}
		<span>Error</span>
	</div>
{{/paper-toolbar}}
{{#paper-content classNames="md-padding"}}
	<h3>An error has occured.</h3>
	<p>Technical details:</p>
	{{#if message}}
		<pre>{{message}}</pre>
	{{else}}
		<pre>{{this}}</pre>
	{{/if}}
{{/paper-content}}
