{{#paper-list classNames="conversations"}}
	{{#paper-item classNames="conversation"}}
		{{#paper-tile-content}}
			<h3>Version</h3>
			<p>Chinwag {{version}}</p>
		{{/paper-tile-content}}
	{{/paper-item}}
{{/paper-list}}